body
{
display: flex;
justify-content: center;
align-items: center;
background-color: linear-gradient(#4ba9e9 0,#4ba9e9 50%,#fff 100%);
min-height: 100vh;
}
.card 
{
position: relative;
width:190px ;
height:280px ;
background:#0000 ;
display: flex;
box-shadow: 0 15px 45px rgba(0,0,0,0.1);
overflow: hidden;
transition: 0.5s ease-in-out;
}
.card:hover
{
    width: 600px;
}
.card.imgBx
{
    position: relative;
    min-width: 300px;
}